:host {
  display: block;
  display: grid;
  grid-template-columns: auto min-content 1fr 1fr;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

ul,
li {
  display: contents;
}

.header {
  display: contents;

  > * {
    font-size: 10px;
    text-transform: uppercase;

    &:last-of-type {
      text-align: right;
    }
  }
}

.section-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.7;
  grid-column: 1 / 5;

  &:first-of-type {
    margin: 0;
  }

  > .bar {
    flex: 1;
    border-bottom: 1px solid #aaa;
  }
}
