:host {
  display: block;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

ul,
li {
  display: contents;
}

.header {
  display: contents;

  > * {
    font-size: 10px;
    text-transform: uppercase;

    &:last-of-type {
      text-align: right;
    }
  }
}
