<h3 class="section-title">
  Savings accounts
  <div class="bar"></div>
  <ya-currency [milliunits]="balances().savings" />
  <div class="mini-bar"></div>
</h3>

<div class="header">
  <span>Account</span>
  <span>Interest</span>
  <span>Status</span>
  <span>Available</span>
  <span>Balance / Allocated</span>
</div>
<ul>
  @for (account of accounts().savingsAccounts; track account.account.id) {
    <li>
      <ya-account-summary [account]="account" />
    </li>
  }
</ul>

<h3 class="section-title">
  Other accounts
  <div class="bar"></div>
  <ya-currency [milliunits]="balances().checking" />
  <div class="mini-bar"></div>
</h3>

<div class="header">
  <span>Account</span>
  <span>&nbsp;</span>
  <span>Status</span>
  <span>Available</span>
  <span>Balance / Allocated</span>
</div>
<ul>
  @for (account of accounts().checkingAccounts; track account.account.id) {
    <li>
      <ya-account-summary [account]="account" hideInterest />
    </li>
  }
</ul>
