<ya-dropdown-button
    [dropdownLabel]="splitMode() ? 'Allocate to accounts' : 'Allocate to account'"
    [menuItems]="menuItems()"
    [flat]="allocatedAccount() === null"
    [noClose]="splitMode()">
  <span label>{{ label() }}</span>

  <div dropdown class="dropdown" [class.split-mode]="splitMode()">
    <div class="actions">
      <button class="ya-button flat" (click)="toggleSplitMode()">
        @if (splitMode()) {
          <mat-icon inline aria-hidden="true">merge</mat-icon>
          Single
        } @else {
          <mat-icon inline aria-hidden="true">call_split</mat-icon>
          Split
        }
      </button>

      @if (splitMode()) {
        <button class="ya-button flat site-theme" (click)="applySplit()">
          <mat-icon inline aria-hidden="true">done</mat-icon>
          Apply
        </button>
      }

      <button class="ya-button flat"
          [disabled]="allocatedAccount() === null"
          (click)="selectAccount(null)">
        <mat-icon inline aria-hidden="true">clear</mat-icon>
        Clear
      </button>
    </div>

    @if (splitMode()) {
      <ya-split-selector [allocation]="allocation()" />

      <h3 class="default-header">Default account:</h3>
    }
  </div>
</ya-dropdown-button>

