:host {
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.account > button {
  border: none;
  padding: 8px 20px;
  white-space: nowrap;
  width: 100%;
  background: transparent;
  text-align: left;

  &:hover,
  &:focus {
    background: #aaa;
  }
}

.clear {
  margin: 8px 0;
  display: flex;
  justify-content: center;

  > button {
    border: 1px solid #eee;
    padding: 8px 20px;
    border-radius: 100px;
    white-space: nowrap;
    background: transparent;
    text-align: center;

    &:hover,
    &:focus {
      background: #aaa;
    }
  }
}
