<ya-dropdown-button dropdownLabel="Allocate to:">
  <span label>
    @if (allocatedAccount() === null) {
      -
    } @else {
      {{ allocatedAccount()!.name }}
    }
  </span>

  <ul dropdown>
    @if (allocatedAccount() !== null) {
      <li class="clear" role="option">
        <button (click)="selectAccount(null)">Clear</button>
      </li>
    }

    @for (account of ynabStorage.accounts.value(); track account.id) {
      <li class="account" role="option">
        <button (click)="selectAccount(account)">
          {{ account.name }}
        </button>
      </li>
    }
  </ul>
</ya-dropdown-button>

