@for (categoryGroup of ynabStorage.categories.value(); track categoryGroup.id) {
  @if (!categoryGroup.hidden) {
    <div class="category-group">
      <div class="name">{{ categoryGroup.name }}</div>

      <div class="categories">
        @for (category of categoryGroup.categories; track category.id) {
          <div class="category">
            <div>{{ category.name }}</div>
            <div><ya-currency [milliunits]="category.balance" /></div>
            <div class="allocation"><ya-allocation-selector [category]="category" /></div>
          </div>
        }
      </div>
    </div>
  }
}
