$collapseWidth: 1150px;

:host {
  display: grid;
  grid-template-columns: minmax(50px, 150px) min-content 1fr;
  align-items: center;

  @media screen and (max-width: $collapseWidth) {
    grid-template-columns: 1fr 1fr;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.collapsable {
  display: contents;

  @media screen and (max-width: $collapseWidth) {
    display: block;
  }
}

.headings {
  display: contents;

  > * {
    white-space: nowrap;
    padding: 8px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;

    &:last-of-type {
      text-align: right;
    }
  }
}

.scroll-area {
  display: contents;
}

.category-group {
  display: contents;

  &:first-of-type > .name {
    border-top: none;
  }

  > .name {
    position: sticky;
    top: 0;
    z-index: 10;
    grid-column: 1 / span 3;
    font-size: 16px;
    font-weight: bold;
    background: #eee;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 4px 24px;

    @media screen and (max-width: $collapseWidth) {
      grid-column: 1 / span 2;
    }
  }
}

.categories {
  display: contents;
}

.category {
  display: contents;

  *:not(.collapsable) {
    padding: 2px 8px;
    white-space: nowrap;
  }

  .name,
  .balance {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
  }

  .allocation {
    text-align: right;
  }
}
