@for (categoryGroup of ynabStorage.categories.value(); track categoryGroup.id) {
  @if (!categoryGroup.hidden) {
    <div>
      <p>{{ categoryGroup.name }}</p>

      <ul>
        @for (category of categoryGroup.categories; track category.id) {
          @if (!category.hidden) {
            <li>
              {{ category.name }} &mdash;
              <ya-currency [milliunits]="category.balance" />
              <button (click)="addAllocationFor(category)">Add allocation</button>
            </li>
          }
        }
      </ul>
    </div>
  }
}
