<button class="ya-button mobile-set" (click)="ynabStorage.refresh()">
  <mat-icon inline aria-hidden="true">refresh</mat-icon>
  Refresh
</button>

<button class="ya-button site-theme mobile-set" [matMenuTriggerFor]="selectBudgetMenu">
  <mat-icon inline aria-hidden="true">keyboard_arrow_down</mat-icon>
  @if (ynabStorage.selectedBudget() !== null) {
    {{ ynabStorage.selectedBudget()!.name }}
  } @else {
    Select budget
  }
</button>
<mat-menu #selectBudgetMenu="matMenu">
  @for (budget of ynabStorage.budgets.value(); track $index) {
    <button mat-menu-item (click)="settingsStorage.setSelectedBudget(budget)">
      {{ budget.name }}
    </button>
  }
</mat-menu>

<button class="ya-button mobile-set" [matMenuTriggerFor]="settingsMenu">
  <mat-icon inline aria-hidden="true">menu</mat-icon>
  Controls
</button>
<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item (click)="showClearAllocationsDialog()">Clear allocations...</button>
  <button mat-menu-item (click)="showSettingsDialog()">Settings...</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
