button.ya-button,
span.ya-button {
  --theme-color_: #eee;
  --theme-complement-color_: #000;
  --shadow-color_: color-mix(in srgb, var(--theme-color_) 70%, #000);
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  color: var(--theme-complement-color_);
  background: var(--theme-color_);
  border-radius: 100px;
  padding: 4px 12px;
  font-size: 14px;
  white-space: nowrap;
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: box-shadow 150ms ease,
              transform 150ms ease;
  box-shadow: 0 1px 0 var(--shadow-color_),
              0 2px 0 var(--shadow-color_),
              0 3px 0 var(--shadow-color_);
  transform: translateY(0);
  margin: 0 0 3px;

  &:hover {
    box-shadow: 0 1px 0 var(--shadow-color_),
                0 2px 0 var(--shadow-color_),
                0 3px 0 var(--shadow-color_),
                0 4px 0 var(--shadow-color_),
                0 5px 0 var(--shadow-color_);
    transform: translateY(-2px);
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
    transform: translateY(5px);
  }

  &:disabled,
  &.flat:disabled {
    cursor: initial;

    &,
    &:hover,
    &:active {
      box-shadow: none;
      transform: translateY(3px);
      opacity: 0.6;
    }
  }

  &.open {
    box-shadow: 0 1px 0 var(--shadow-color_),
                0 2px 0 var(--shadow-color_),
                0 3px 0 var(--shadow-color_),
                0 4px 0 var(--shadow-color_),
                0 5px 0 var(--shadow-color_);
    transform: translateY(-2px);
  }

  &.flat {
    box-shadow: none;
    transform: translateY(3px);

    &:hover {
      box-shadow: 0 1px 0 var(--shadow-color_),
                  0 2px 0 var(--shadow-color_),
                  0 3px 0 var(--shadow-color_);
      transform: translateY(0);
    }

    &:active {
      box-shadow: 0 1px 0 var(--shadow-color_);
      transform: translateY(2px);
    }

    &.open {
      box-shadow: 0 1px 0 var(--shadow-color_),
                  0 2px 0 var(--shadow-color_),
                  0 3px 0 var(--shadow-color_),
                  0 4px 0 var(--shadow-color_),
                  0 5px 0 var(--shadow-color_);
      transform: translateY(-2px);
    }
  }

  // === Themes ===
  &.overfunded {
    --theme-color_: var(--ya-overfunded-color);
    --theme-complement-color_: var(--ya-overfunded-complement-color);

    &.pastel {
      --theme-color_: var(--ya-overfunded-pastel-color);
      --theme-complement-color_: var(--ya-overfunded-pastel-complement-color);
    }
  }

  &.warning {
    --theme-color_: var(--ya-warning-color);
    --theme-complement-color_: var(--ya-warning-complement-color);

    &.pastel {
      --theme-color_: var(--ya-warning-pastel-color);
      --theme-complement-color_: var(--ya-warning-pastel-complement-color);
    }
  }

  &.underfunded {
    --theme-color_: var(--ya-underfunded-color);
    --theme-complement-color_: var(--ya-underfunded-complement-color);

    &.pastel {
      --theme-color_: var(--ya-underfunded-pastel-color);
      --theme-complement-color_: var(--ya-underfunded-pastel-complement-color);
    }
  }

  &.perfect {
    --theme-color_: var(--ya-perfect-color);
    --theme-complement-color_: var(--ya-perfect-complement-color);
  }

  &.site-theme {
    --theme-color_: var(--theme-primary-color);
    --theme-complement-color_: var(--theme-primary-complement-color);
  }

  > mat-icon {
    font-size: larger;
  }
}
