<button class="ya-button"
    [class]="theme()"
    [class.open]="dropdownShowing()"
    [class.flat]="flat()"
    [class.pastel]="pastel()"
    [cdkMenuTriggerFor]="context_menu"
    [disabled]="disabled()"
    (cdkMenuClosed)="dropdownShowing.set(false)"
    (cdkMenuOpened)="dropdownShowing.set(true)">
  @if (icon() !== null) {
    <mat-icon inline aria-hidden="true">{{ icon() }}</mat-icon>
  }
  <ng-content select="[label]" />
</button>

<ng-template #context_menu>
  <div #dropdown
      cdkMenu
      class="dropdown">
    <p class="label">{{ dropdownLabel() }}</p>
    <ng-content select="[dropdown]" />

    @if (menuItems().length > 0) {
      <ul class="menu-items">
        @for (item of menuItems(); track item.value) {
          <li>
            @if (noClose()) {
              <button (click)="item.action(item.value)">
                @if (item.icon) {
                  <mat-icon inline aria-hidden="true">{{ item.icon }}</mat-icon>
                }
                {{ item.label }}
              </button>
            } @else {
              <button cdkMenuItem (click)="item.action(item.value)">
                @if (item.icon) {
                  <mat-icon inline aria-hidden="true">{{ item.icon }}</mat-icon>
                }
                {{ item.label }}
              </button>
            }
          </li>
        }
      </ul>
    }
  </div>
</ng-template>
