:host {
  display: flex;
  padding: 4px 20px;
  gap: 8px;
  align-items: center;

  @media screen and (max-width: 1150px) {
    flex-direction: column;
    align-items: flex-start;

    .account-name {
      margin: 0;
    }

    .allocation-button {
      order: -1;
    }
  }
}

.account-name {
  flex: 1;
  font-weight: bold;
  margin: 0 0 6px;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.allocation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.allocation-info {
  max-width: 300px;

  > .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 12px;
  }
}

.info-text {
  padding: 8px 20px 20px;
  margin: 0;
}

.allocation-label {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.allocation-table {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  padding: 20px 12px;

  > * {
    white-space: nowrap;
    padding: 4px 10px;
  }

  > .allocated {
    border-bottom: 1px solid #555;
  }

  > ya-currency {
    font-weight: bold;
  }
}
