:host {
  display: flex;
  padding: 12px 20px;
  gap: 8px;
  align-items: center;
}

.account-name {
  flex: 1;
  font-weight: bold;
  margin: 0 0 6px;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.allocation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.info-text {
  max-width: 300px;
  padding: 8px 12px 20px;
  margin: 0;
}

.allocation-label {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.allocation-table {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  padding: 20px 12px;

  > * {
    white-space: nowrap;
    padding: 4px 10px;
  }

  > .allocated {
    border-bottom: 1px solid #555;
  }

  > ya-currency {
    font-weight: bold;
  }
}
