<ya-dropdown-button dropdownLabel="Beta info" icon="science">
  <span label>Beta info</span>

  <p dropdown class="beta-info">
    Welcome to the <span class="special">beta</span>, thanks for being here!
    <br><br>
    The MVP of the app is
    functional, but there's plenty still to do. My roadmap includes: keyboard
    shortcuts (there's some, but we need moar!), mobile support, themes / dark
    mode, and probs other stuff <span aria-label="shruggie">¯\_(ツ)_/¯</span>
  </p>
</ya-dropdown-button>
