@use "styles/mixins" as ya;

:root {
  --theme-primary-color: #2E7D32; // Green 800
  --theme-primary-complement-color: white;
  --beta-font: Caveat, cursive;
  // The same font that YNAB uses in their main app, for consistency.
  --body-font: Figtree, sans-serif;

  // Themes for buttons and elements
  @include ya.define-theme("overfunded",         #4FC3F7, #000);
  @include ya.define-theme("overfunded-pastel",  #B3E5FC, #000);
  @include ya.define-theme("warning",            #FDD835, #000);
  @include ya.define-theme("warning-pastel",     #FFF9C4, #000);
  @include ya.define-theme("underfunded",        #D32F2F, #fff);
  @include ya.define-theme("underfunded-pastel", #FFCDD2, #000);
  @include ya.define-theme("perfect",            #C8E6C9, #000);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
}

a {
  color: var(--theme-primary-color);
}

button {
  font-family: inherit;
}

// Always change the user's cursor when they're hovering over a button.
button:hover {
  cursor: pointer;
}

@import "styles/button";
@import "styles/card";
@import "styles/dialog";
@import "styles/input";
