:root {
  --theme-primary-color: #2E7D32; // Green 800
  --theme-primary-complement-color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  // The same font that YNAB uses in their main app, for consistency.
  font-family: Figtree, sans-serif;
}

button {
  font-family: inherit;
}

// Always change the user's cursor when they're hovering over a button.
button:hover {
  cursor: pointer;
}
