:root {
  --theme-primary-color: #2E7D32; // Green 800
  --theme-primary-complement-color: white;
  --beta-font: Caveat, cursive;
  // The same font that YNAB uses in their main app, for consistency.
  --body-font: Figtree, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
}

a {
  color: var(--theme-primary-color);
}

button {
  font-family: inherit;
}

// Always change the user's cursor when they're hovering over a button.
button:hover {
  cursor: pointer;
}

@import "styles/button";
@import "styles/card";
@import "styles/input";
