@let monthsWord = months() === 1 ? 'month' : 'months';
<ya-dropdown-button [dropdownLabel]="months() + ' ' + monthsWord + ' of allocations'"
    [flat]="true"
    [menuItems]="menuItems()"
    icon="calendar_month">
  <span label>
    {{ monthsLabel() }}
  </span>

  <div dropdown>
    <p class="month-info">
      Allocations for your accounts are the sum of the next
      <b>{{ months() }} {{ monthsWord }}</b> of funds in the allocated categories.
    </p>

    <form class="months-form" (submit)="updateMonthsFromForm($event)">
      <input type="text" class="ya-input" [formControl]="monthsInputControl" />

      <button class="ya-button flat site-theme">
        Update
      </button>
    </form>
  </div>
</ya-dropdown-button>
