:host {
  display: flex;
  align-items: center;
  gap: 4px;
}

.month-info {
  margin: 0;
  padding: 4px 20px;
  max-width: 300px;
}

.months-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px;

  input {
    text-align: center;
    width: 7ch;
  }
}
